<launch>
    
    <node name="bag" pkg="rosbag" type="play" args="-r 0.5 $(find lab7)/data/PA7.bag"/>
    
    <node name="visual" pkg="rviz" type="rviz" args="-d $(find lab7)/rviz.rviz" />

    <!-- <node name="chess" pkg="lab7" type="chess.py" output="screen" /> -->

    <rosparam param="frame_num"> 5 </rosparam>

    <node name="part3" pkg="lab7" type="depthshow.py" output="screen" />


</launch>